<section class="container">
  <h3 class="faq-title">Frequently Asked Questions</h3><hr>
    <span ng-repeat="question in faqCtrl.faq">
        <article class="col s6 faq-card">
          <p><u><strong>Question:</u></strong>  {{question.question}}</p>
          <p><u><strong>Answer:</u></strong> {{question.answer}}</p>
        <article>
    </span>
</section>
<section class="container">
  <article class="col s6 faq-card">
    <p>What is the interview process?</p>
    <p>directly from VIPKID website.</p>
    <ol>
      <li>Send us your resume, so we can screen for basic requirements and teaching experience.</li>
      <li>Interview + Demo Class:Join us for a 30-min session where you showcase your teaching skills to a VIPKID recruiter.</li>
      <li>Introduction to Teaching:Watch videos to learn about the VIPKID technology, standards and curriculum.</li>
      <li>Mock class:Practice teaching a full-length class with one of our VIPKID teachers.</li>
      <li>Sign Contract and Upload Docs:Send us your information so we can create a profile for our VIPKID students and their parents to get to know and to book you.</li>
      <li>Full-Fledged VIPKID Teacher:Put your timeslots on your portal so that VIPKID students can start booking you. Get ready to teach!</li>
    </ol>
  </article>
</section>
