<section class="container">
  <h3 class="about-title">Getting Started</h3><hr>
    <article class="col s12 about-content">
      <p>{{aboutCtrl.content}}</p>
      <p>{{aboutCtrl.degree}}</p>
      <p>{{aboutCtrl.app}}</p>
        <ul>
          <li>You will most likely be able to do your first demo lesson within a week of turning in your application, so the process is really quick.</li>
          <li>The interview will be done online through the VIPKID portal.</li>
          <li>In the interview: be able to show your ability to explain the activities.</li>
          <li>Be prepared</li>
        </ul>
      <p>You will then need to watch the training videos that VIPKID provides.</p>
        <ul>
          <li>These videos will tell you the standard of teaching, how to use tools in the classroom, and about the cirriculum taught.</li>
          <li>VIPKID uses all US Common Core Standard curriculum.</li>
        </ul>
      <p> Next, you will be asked to teach a full 25 minutes mock lesson. Then, once all the needed documents have been sent in, you become a ESL Teacher for VIPKID!</p>
        <ul>
          <li>A computer with a webcam</li>
          <li>Headphones with Microphone</li>
          <li>Chrome Web Browser</li>
          <li>HI-speed internet</li>
          <li>Having some props is always good to show how prepared you are. A reward system of some kind and a few stuffed animals.</li>
        </ul>
    </article>
</section>
