// colors
$blue: #42A5F5
$red: #A23E48
$teal: #2AF5FF
$secondary-blue: #3066BE
$purple: #963484

// accents
$faqborder: 5px solid $blue

// navigation styles
.nav-wrapper
  box-shadow: 10px 10px 5px black
// end navigation styles

// main view styles
.comment-title
  text-align: center

.comment-card
  border: $faqborder
  box-shadow: 10px 10px 5px $secondary-blue
  width: 100%
  margin-top: 5%

.author-pic
  float: left
  margin-top: 1%

.testemonial
  padding-left: 12%
// end main view styles

// about view styles
.about-title
  text-align: center
// end about view styles

// faq view styles
.faq-title
  text-align: center

.faq-card
  border: $faqborder
  box-shadow: 10px 10px 5px $secondary-blue
  width: 100%
  margin-top: 5%
// end faq view styles
